.nav-bar-container {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 80px;
  background-color: #add8e6;
  font-family: "system-ui";
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; /* Flexbox layout */
  justify-content: flex-end;
  align-items: center;
  margin-right: 40px;
}

li a {
  margin-right: 40px; /* Adjust spacing as needed */
  color: #00236e;
  text-decoration: none;
  font-size: 1.4rem;
}

body {
  background-color: #00236e;
}
